.navbar-admin{
    padding:0px;
}
#slider{
    width: 11%;
}
.text{
    color: white;
    font-size: 20px;
    margin-top: 48px;
}
#cont{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.deletee{
   
    color: rgb(28, 73, 28);
}
.editt{
    margin-left: 10px;
    color: rgb(108, 32, 32);
}
.tableLength{
    margin-top: 29px;
    margin-left: 70px; 
}
