body{
   background-color: rgb(176, 166, 219);
}
.child {
  /* Center vertically and horizontally */

  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); 
  
}
#back-home{
  
    
    background-color: #15154e;
    border: none;
    margin-top: 20px;
    
  
}
